h1{
	text-align: center;
}
.hover{
	
	color: transparent;	
	background-color: black;
}

.redrawForm{
	margin:0 auto;
	align-items:center;
	text-align: center;
}

.gridContainer{
	margin:0 auto;
	
	height:700px; 
	width: 700px;
	background-color: #e6c4c4;
	border: 50px solid red;
	border-radius: 50px;

}
.gridSquares{	
	color: transparent;		
	display: inline-block;
	margin:0 auto;
	text-align: center
	color: red;	

	
  	-moz-box-sizing: border-box;
   	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	width: 6.25%;
  	height: 6.25%;
  	
  	

}
